<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388789100035-1ce92fp1obtcr0mqf3nbgg29m9ere1fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388789100035-1ce92fp1obtcr0mqf3nbgg29m9ere1fc</string>
	<key>API_KEY</key>
	<string>AIzaSyBHVr8ryZB7OM0mTF8FIBSeL-mzzJeXK6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>388789100035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lab.VisuLoc</string>
	<key>PROJECT_ID</key>
	<string>shareardubidu</string>
	<key>STORAGE_BUCKET</key>
	<string>shareardubidu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388789100035:ios:251a3b2b3f39198d38b836</string>
	<key>DATABASE_URL</key>
	<string>https://shareardubidu.firebaseio.com</string>
</dict>
</plist>